.Note {
  position: relative;
  min-height: 5rem;
  padding: 1em;
  width: 100%;
  margin: 1% 0;
  cursor: pointer;

  &:nth-child(2n) {
    background-color: $champagne-pink;
  }
  &:nth-child(2n + 1) {
    background-color: $peach-puff;
  }

  h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 90%;
  }

  p {
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .fa-xmark {
    position: absolute;
    color: red;
    right: 0.6em;
    top: 0.6em;
  }
}